amqp==5.2.0
astroid==3.2.2
async-timeout==4.0.3
backports.zoneinfo==0.2.1
billiard==4.2.0
celery==5.4.0
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
dill==0.3.8
flower==2.0.1
humanize==4.9.0
isort==5.13.2
kombu==5.3.7
mccabe==0.7.0
numpy==1.24.4
orjson==3.10.3
peewee==3.17.5
platformdirs==4.2.2
prometheus_client==0.20.0
prompt-toolkit==3.0.43
pylint==3.2.2
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
redis==5.0.4
six==1.16.0
tomli==2.0.1
tomlkit==0.12.5
tornado==6.4
typing_extensions==4.11.0
tzdata==2024.1
vine==5.1.0
wcwidth==0.2.13
